<p>Hello family members!</p>

<p>These is an app that will help us to follow our to-do list of the house!</p>
<p>You need to enter to this app every day to see what is new.</p>
<p>You have max of 7 days to complete your task (from the date that you will see there of every one of them).</p>
<p>You also can help each other... It won't kill you...</p>
<p>After you finish one of them - delete it from the app, but be carefull - we will check you didn't cheat!</p>
<p>You dont's want to mess with the entire family!</p>

<p>Goodluck you all!</p>